// === Main ===
.copyright {
    padding: 30px 0;
    &__wrapper {
        &-text {
            font-size: 16px;
            line-height: 27.2px;
            text-align: center;
        }
    }
}
// === / Main ===

// === Media ===
// @media (max-width: 1399px) {}

// @media (max-width: 1199px) {}

// @media (max-width: 991px) {}

// @media (max-width: 767px) {}

// @media (max-width: 575px) {}
// === / Media ===