// === secondary ===
.header-secondary {
    color: $white;
    position: relative;
    padding: 30px 0 94px;
    &__title {
        max-width: 740px;
        margin-top: 83px;
        &-contact {
            max-width: 1020px;
        }
        &-story {
            max-width: 1000px;
        }
        &-careers {
            max-width: 1000px;
        }
        &-process {
            max-width: 1000px;
        }
    }
    &__subtitle {
        width: 445px;
        margin-top: 16px;
    }
    &__btn {
        margin-top: 32px;
    }
    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -5;
        width: 100%;
        height: 100%;
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(0deg, rgba(2, 57, 87, 0.5), rgba(2, 57, 87, 0.5));
        }
    }
}
// === / secondary ===

// === Media ===
@media (max-width: 1199px) {
    .header-secondary {
        &__bg {
            width: 100%;
        }
    }
}

@media (max-width: 991px) {
    .header-secondary {
        &__title {
            width: 650px;
            font-size: 50px;
        }
    }
}

@media (max-width: 767px) {
    .header-secondary {
        &__title {
            width: 480px;
            font-size: 45px;
            line-height: 70px;
        }
    }
}

@media (max-width: 575px) {
    .header-secondary {
        &__title {
            width: 100%;
            font-size: 35px;
            line-height: 52px;
        }
        &__subtitle {
            width: 100%;
        }
    }
}
// === / Media ===