// === Colors ===
$black: #000;
$white: #fff;

$grey_bg: #F6F6F6;
// === / Colors ===

// === Transitions ===
$transition-sm: all 0.3s;
$transition-md: all 0.5s;
// === / Transitions ===

// === Fonts ===

// === / Fonts ===