.title {
    font-family: 'Montserrat';
    text-align: center;
    text-transform: uppercase;
    &--fz44 {
        font-size: 44px;
        line-height: 55px;
    }
    &--fz23 {
        font-size: 23px;
        line-height: 36px;
        @media (max-width: 575px) {
            font-size: 16px;
            line-height: 20px;
        }
    }
    &--fz16 {
        font-size: 16px;
        line-height: 20px;
    }
    h2 {
        padding: 0;
        margin: 0;
    }
}