.subtitle {
    font-family: "Poppins";
    font-weight: 400;
    &--fz16 {
        font-size: 16px;
        line-height: 27.2px;
    }
    &--center {
        text-align: center;
        margin: 0 auto;
    }
    &--section {
        width: 348px;
        margin: 0 auto;
        @media (max-width: 575px) {
            width: 280px;
        }
    }
}